<fieldset [formGroup]="formGroup" >
    <legend>Departamento</legend>
 
    <mat-form-field>
        <input matInput placeholder="Nombre Departamento" type="text" [formControlName]="formControlNames.nombre_dep" autocomplete="off" >
    </mat-form-field>

 
    <div [formArrayName]="formControlNames.provincias" *ngFor="let unaProvincia of formGroupControls.provincias.controls; let i = index">
        <app-provincia-form [formControl]='unaProvincia'></app-provincia-form>
        <button mat-button color='warn' (click)='eliminarProvincia(i)'>Eliminar Provincia</button>
    </div>
    <button mat-button color='primary' (click)='agregarProvincia()' >Agregar Provincia</button>
    
</fieldset>


<button mat-raised-button color="primary" (click)="manualSave()">Actualizar Ubigeo</button>
<button mat-raised-button color="primary" (click)="ubigeoDeleted()">Eliminar Ubigeo</button>
<button mat-raised-button color="primary" (click)="ubigeoCreated()">Crear Ubigeo</button>


      <!--
          manualSave() no se encuentra la funcion, debe ser del mismo ngx subform
      -->