<fieldset [formGroup]="formGroup">
    <legend>Anexo</legend>
    <mat-form-field>
        <input matInput placeholder="Nombre Anexo" [formControlName]='formControlNames.nombre_anexo' autocomplete="off">
    </mat-form-field>

    <div [formArrayName]='formControlNames.barrios' *ngFor="let unBarrio of formGroupControls.barrios.controls; let i= index">
        <app-barrio-form [formControl]='unBarrio'></app-barrio-form>
        <button mat-button color='warn' (click)='eliminarBarrio(i)'>Eliminar Barrio </button>
    </div>
    <button mat-button color='primary'(click)='agregarBarrio()'>Agregar Barrio</button>


</fieldset>