<section [formGroup]="formGroup">
    <app-aroot [formControlName]="formControlNames.aba"></app-aroot>
    <app-broot [formControlName]="formControlNames.abb"></app-broot>
    <app-d [formControlName]= "formControlNames.d"></app-d>
    <app-f [formControlName]="formControlNames.f"></app-f>
    <app-g [formControlName]="formControlNames.g"></app-g>
    <app-h [formControlName]="formControlNames.h"></app-h>
    <app-departamento [formControlName]="formControlNames.departamemnto"></app-departamento>
</section>
<!--
<pre>{{formGroupValues | json}}</pre>

-->
