<section [formGroup]="formGroup">
    <fieldset>
        <legend>DEPARTAMENTO</legend>
        <input [formControlName]="formControlNames.nombre_departamento">
        <div [formArrayName]="formControlNames.provincias" *ngFor="let unaProvincia of formGroupControls.provincias.controls; let i = index">
            <app-provincia [formControl]="unaProvincia"></app-provincia>
            <button (click)="eliminarProvincia(i)">Eliminar Provincia</button>
        </div>
        <button (click)="agregarProvincia()">Agregar Provincia</button>
    </fieldset>
</section>
